h1 {
  font-family: tuppence, serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 2px;
}
h2 {
  font-size: 25px;
  margin-bottom: 0;
  text-align: left;
  padding-left: 15px;
}
p {
  font-size: 13px;
  font-weight: 300;
}
hr {
  margin-top: 35px;
}
#current-temp,
#feels-like,
#max-temp,
#min-temp,
#humidity,
#wind,
#visibility,
#pressure {
  font-weight: 600;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
a .temp-value {
  color: black;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
.temp-value:hover {
  text-decoration: underline;
  cursor: pointer;
}

.big-weather-icon {
  font-size: 55px;
  padding-top: 16px;
}
body {
  background-color: #fef575;
}

.container {
  text-align: center;
  max-width: 375px;
  font-family: "commuters-sans", sans-serif;
  color: black;
  font-style: normal;
  font-weight: 100;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}

.main-body {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}
.col-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.col-6 {
  padding: 0;
}
.col-6 #text-report {
  padding-top: 23px;
}

.form-control {
  border: 1px solid;
  border-radius: 14px;
}
.search {
  margin: 0 auto;
  height: 67px;
}
.submit-button {
  height: 24pt;
  width: 57pt;
  font-size: 9pt;
  border: 1px solid;
  background-color: white;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.submit-button:hover {
  color: white;
  background-color: black;
  border: none;
}
.overview {
  border: 1px solid;
  background-color: white;
  border-radius: 50%;
  width: 237px;
  height: 237px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

.main-info {
  width: 317px;
  height: 62px;
  margin: 10px auto;
  background-color: white;
  border-radius: 12px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid black;
}
.second-info {
  width: 317px;
  height: 41px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px;
}
.third-info {
  width: 317px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.feels-like {
  text-align: left;
  padding-left: 15px;
}
#max-min {
  text-align: right;
  padding-right: 15px;
}

#text-report {
  padding-right: 15px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
  text-align: right;
  padding-top: 19px;
}

#current-hour {
  font-size: 33px;
  padding-top: 5px;
}
#current-date {
  font-size: 9px;
}
.date {
  font-size: 18px;
  font-weight: 300;
}

.weather-details {
  margin-top: 30px;
}

.temp-value {
  margin-top: 30px;
}

.card {
  max-width: 300px;
  border: none;
}
.three-col {
  width: 70px;
  height: 55px;
  background-color: white;
  padding-top: 7px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.weekly-weather {
  width: 317px;
  height: auto;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 9px;
}
.day-forecast {
  padding: 5px;
}
.weather-forecast-date {
  font-size: 11px;
  font-weight: 600;
}
.unit {
  padding: 2px;
}
.git-hub {
  font-size: 12px;
  font-weight: 300;
  margin: 0px auto;
  text-align: center;
}
.last-updated {
  width: 317px;
  height: 41px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
  background-color: white;
  border-radius: 12px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px;
}
.row {
  align-items: center;
  justify-content: center;
}
.col-4 {
  flex: 20%;
}

.change-unit .active {
  background-color: lightgray;
}
.change-unit .active:hover {
  background-color: lightgray;
  cursor: not-allowed;
  color: black;
  border: 1px solid black;
}

#small-weather-icon {
  width: 50px;
  height: 50px;
}

.weather-forecast-temp-max {
  font-weight: 600;
}

/* sunny background: 10-25 deg --> background: linear-gradient(0deg, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%); #ec923d;
hot weather background: 25-50 deg --> background: linear-gradient(0deg, rgb(253, 193, 104) 0%, rgb(251, 128, 128) 90%); #D65662
<!-- cold weather background: w<10 deg --> background: linear-gradient(89.2deg, rgb(191, 241, 236) 22.3%, rgb(109, 192, 236) 84.1%); #42799F
<!-- rainy background:  --> background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%); #9FAAB8 */
